<?xml version="1.0"?>
<config>
  <modules>
    <RedboxDigital_Linkedin>
      <version>0.1.0</version>
    </RedboxDigital_Linkedin>
  </modules>
  <global>
    <helpers>
      <linkedin>
        <class>RedboxDigital_Linkedin_Helper</class>
      </linkedin>
    </helpers>
	<models>
	  <linkedin>
		<class>RedboxDigital_Linkedin_Model</class>
		<resourceModel>linkedin_mysql4</resourceModel>
	  </linkedin>
	</models>
	<resources>
	  <customerattribute_aks_setup>
		<setup>
		  <module>RedboxDigital_Linkedin</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute_aks_setup>
	  <customerattribute_aks_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute_aks_write>
	  <customerattribute_aks_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute_aks_read>
	</resources>
  </global>
</config> 